* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 350px;
}
.card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 2px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab-button {
    flex: 1;
    padding: 10px;
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.tab-button.active {
    border-bottom: 3px solid #ff7e5f;
    color: #ff7e5f;
}

.form {
    display: none;
    flex-direction: column;
}

.form.active {
    display: flex;
}
.form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.form button {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #ff7e5f;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}
.form button:hover {
    background: #feb47b;
}